@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap');

/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   overflow-x: hidden;

 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {


    font-family: "Inter", sans-serif;

   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
   overflow-x: hidden;
   
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
    transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
 }

 .wrapper {
  max-width: 1200px;
  margin-inline: auto;
 }

 ul,ol {
  list-style-type: none;
 }

 input {
  outline: none;
 }

 button {
  border: none;
 }

 .none {
  visibility: hidden;
 }

 /* Header */
 .header {
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav {
  margin-right: 132px;
}
.nav_list {
  display: flex;
  gap: 32px;
}

.nav_list-link {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}


.header-form-btn {
  width: 100%;
  max-width: 175px;
  padding: 16px 0px;
  background-color: #1D1E25;
  border:1px solid #1D1E25;
  transition: background-color 0.3s;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 100px;
}

.header-form-btn:hover {
  background-color: transparent;
  color: #000;
}

.header-form-input {
  line-height:150%;
  font-weight:400;
  font-size:16px;
  padding: 0px;
  margin: 0px;
  border: none;
  border-bottom: 1px solid #ced1d8;
  width: 280px;
  padding-bottom: 23px;

}


.intro-subtitle-p {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;

}

.intro-title {
  font-size: 80px;
  line-height: 96px;
  white-space: pre-wrap;
  max-width: 740px;
  margin-bottom: 45px;
}

.header-from {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
  margin-top: 135px;
  position: relative;
}

.header-from::after {
  content: "";
  position: absolute;
  top: 80px;
  right: 20px;
  background-image: url('../media/phone-section-arrow.svg');
  background-repeat: no-repeat;
  width: 170px;
  height: 154px;
}

.container-right {
  padding-top:15px;
  display:flex;
  align-items: center;
  flex-direction: row;
  margin-top: 124px;
}
.color_text {
  color: #E63E8C;

}

.header-intro {
  display: flex;
  justify-content: space-between;

}

.intro_img {
  margin-left: 220px;
}

.intro-subtitle .dash {
  margin-top: 22px;
  width: 76px;
  height: 1px;
  background: #000;
}

.intro-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 27px;
}

.intro-text {
  width: 635px;
  position: relative;
}

.intro-text::before {
  content: "";
  position: absolute;
  top: -120px;
  left: 0;
  width: 551px;
  height: 551px;
  background-image: url('../media/gradient.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */

/* Security */

.security {
  margin-top: 80px;
  height: 900px;
  background-image: url('../media/secure-bg.svg');
  background-size: cover;
}

.security_img {
  margin-inline: auto;
  padding-top: 66px;
}

.security_title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
  width: 1004px;
  margin-inline: auto;
  padding-top: 51px;
}

.security_text {
  margin-inline: auto;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  color: #7e8492;
  line-height: 1.5;
  width: 934px;
  padding-top: 125px;
}

/* Security */


/* map */

.map_img {
  margin-inline: auto;
  padding-top: 41px;
}

.map_title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #000;
  padding-top: 113px;
}
/* map */

/* plans */

.plans-color_text {
  background: rgba(20, 99, 255, 0.1);
  border-radius: 22px;
  padding: 5px 16px;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.5;
  text-align: center;
  color: #1463ff;
}

.plans {
  margin-top: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.plans_title {
  margin:122px;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: center;
  position: relative;
}

.plans_title::before {
  content: "";
  position: absolute;
  top: -600px;
  left: -400px;
  width: 1000px;
  height: 1000px;
  background-image: url('../media/gradient.svg');
  background-repeat: no-repeat;
  background-size: cover;
}



.plans_text {
  margin:106px;
  font-weight: 500;
  font-size: 36px;
  line-height: 0.72;
  color: #7e8492;
}

/* cards */

.cards {
  display: flex;
  gap: 30px;
}
.cards-cnt {
  width: 378px;
  height: 670px;
  border-radius: 16px;
  border: 1px solid #ededed;
}

.cards-cnt:hover {
  transform: translate(0, -50px);
  transition: 0.6s ease-in-out;
  background: #161A34;
}

.cards-cnt:hover .best-offer {
  background-color: #cb40a5;
}

.cards-cnt:hover .cards_content {
  color: #fff;
}

.cards-cnt:hover .cards_btn-pay {
  background: #fff;
  color: #000;
  text-decoration: none;
}

.best-offer-cnt {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
  width: 330px;
  margin-inline: auto;
}
.heart {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  background: #cb40a5;
  position: relative;
}
.heart_img {
  position: absolute;
  margin-top: 13px;
  margin-left: 10px;
}

.best-offer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  padding: 6px 12px;
  border-radius: 100px;
  border: 1px solid #797979;
}

.cards_content {
  width: 330px;
  margin-top: 20px;
  margin-inline: auto;
}
.cards_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.42;
  margin-bottom: 26px;
}
.cards_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #7e8492;
  margin-bottom: 15px;
}
.cards_price {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}
.cards_list-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 16px;
}

.cards_list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  margin-left: 20px;
  position: relative;
  margin-bottom: 5px;
}

.cards_list-item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -23px;
  background-image: url('../media/custom-marker-list.svg');
  width: 20px;
  height: 20px;
}
.cards_btn-pay {
  display: block;
  text-decoration: none;
  border-radius: 100px;
  padding: 16px 32px;
  width: 160px;
  height: 56px;
  background: #000;
  color: #fff;
  margin-top: 40px;
  margin-inline: auto;
}



.disable {
  color: #7e8492;
  position: relative;
}

.disable::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -23px;
  background-image: url('../media/custom-marker-list-disable.svg');
  width: 20px;
  height: 20px;
}

/* cards */

/* footer */

.footer {
  margin-top: 70px;
}
.footer_cnt-first {
  padding-bottom: 120px;
  border-bottom: 1px solid #818181;
  position: relative;
}

.footer_cnt-first::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 551px;
  height: 551px;
  background-image: url('../media/gradient.svg');
  background-size: cover;
}

.footer_title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 72px;
}
.footer_text-cnt {
  display: flex;
  justify-content: space-between;
}
.footer_text {
  width: 543px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.06;
  margin-left: 100px;
  position: relative;
}

.footer_text::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -100px;
  width: 76px;
  height: 1px;
  background-image: url('../media/phone-section-line.svg')
}

.footer_btn {
  border-radius: 100px;
  padding: 16px 32px;
  width: 175px;
  height: 56px;
  background: #1D1E25;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.footer_btn:hover {
  background: #414353;
  transition: 0.6s ease-in-out;
}

.footer_cnt-second {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
  align-items: center;
}
.footer_flex-item {
}
.footer_img {
  margin-bottom: 31px;
}
.footer_flex-item_text {
  width: 292px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #1D1E25;
  margin-bottom: 40px;
}
.facebook {
  display: inline;
  margin-right: 5px;
}
.instagram {
  display: inline;
}
.footer_list-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  color: #1D1E25;
  margin-left: 32px;
  margin-bottom: 25px;
  position: relative;
}

.footer_list-title::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -32px;
  width: 20px;
  height: 20px;
  background-image: url('../media/sign-in.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_list {
}
.footer_list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #797979;
  margin-bottom: 19px;
}
.footer_input {
  border: none;
  background: #1D1E25;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 238px;
  height: 60px;
  padding: 0;
  padding-left: 10px;
  position: relative;
  right: -5px;
  color: #fff;
}

.footer_input::placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}
.footer_form-btn {
  width: 112px;
  height: 60px;
  padding: 0;
  background: #5E5E60;
  color: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  
}

/* footer */

/* reviews */
.reviews {
  padding-bottom: 128px;
  padding-top: 220px;
}

.reviews_title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #101010;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 128px;
}

.reviews-quote-text {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: var(--tekst);
}

.reviews-quote {
  margin-bottom: 51px;
}

.slide {
  padding-left: 115px;
}

.reviews-user {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
}

.user-info {
  display: flex;
  gap: 25px;
}

.reviews_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.prev {
  width: 50px;
  height: 50px;
  border: 1px solid #ced1d8;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.next {
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

/* reviews */

/* success */

.receipt_card {
  width: 574px;
  height: 650px;
  border-radius: 40px;
  margin-inline: auto;
  position: relative;
  top: 7vh;
  box-shadow: 0 16px 24px 0 rgba(30, 30, 30, 0.08);
  background: #25282e;
  padding: 79px 26px 53px 26px;
}

.receipt_card::before {
  content: "";
  position: absolute;
  width: 93px;
  height: 93px;
  top: -40px;
  left: 41.5%;
  background-image: url('../media/Success Icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 40px 27px 0 rgba(0, 0, 0, 0.16);
  border-radius: 100%
}

.receipt_card-title {
  font-weight: 600;
  font-size: 33px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  
}

.receipt_card-text {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.57;
  text-align: center;
  color: rgba(255, 255, 255, 0.72);
}
/* success */

.none {
  visibility: hidden;
}


@media (max-width: 1260px) {
  .wrapper {
    max-width: 1000px;
  }

  .intro_img {
    margin-left: 50px;
  }

  .cards_content {
    width: 280px;
  }

  .best-offer-cnt {
    width: 280px;
  }
  .cards_btn-pay-margin {
    margin-top: 15px;
  }
}

@media (max-width: 1100px) {
  .intro-title {
    font-size: 65px;
  }

  .intro-subtitle-p {
    font-size: 26px;
    max-width: 350px;
  }

  .intro_img {
    margin-left: 0;
  }

  .header-from::after {
    display: none;
  }

  .wrapper {
    width: 845px;
  }
}

@media (max-width: 1100px) {
  .header-intro {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .container-right {
    display: block;
    padding: 0;
    margin-top: 52px;
  }

  .intro_img {
    margin-left: 50px;
  }

  .intro-title {
    text-align: center;
  }

  .intro-subtitle {
    justify-content: center;
  }

  .header-from {
    justify-content: center;
    margin-top: 75px;
  }

  .header_nav {
    margin-right: 0;
  }

  .security_title {
    width: auto;
    font-size: 49px;
    max-width: 1000px;
  }

  .security_text {
    font-size: 24px;
    padding-top: 100px;
  }

  .security {
    height: 750px;
  }

  .plans {
    margin-top: 100px;
    justify-content: flex-start;
    height: 600px;
  }

  .plans_title {
    font-size: 50px; 
    margin-bottom: 0;
  }

  .plans_text {
    margin-top: 100px;
  }

  .cards_content {
    width: 230px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .cards_btn-pay-margin {
    margin-top: 20px;
  }

  .cards_btn-pay {
    margin-top: 20px;
  }

  .cards-cnt:hover {
    transform: none;
  }

  .footer_text::before {
    top: 7px;
  }

  .map_title {
    font-size: 55px;
  }
}

@media (max-width: 880px) {
  .security {
    overflow-x: hidden;
    height: 634px;
  }

  .security_text {
    font-size: 20px;
  }

  .plans_text {
    margin: 0;
    margin-top: 100px;
    }

  .security_title {
    font-size: 42px;
    max-width: 800px;
  }

  .security_img {
    width: 130px;
    height: 195px;
  }

  .header_nav {
    margin-right: 60px;
  }

  .wrapper {
    width: 679px;
  }

    .footer_cnt-second {
    display: flex;
    margin-top: 12px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 725px) {
  .security_title {
    font-size: 36px;
    max-width: 700px;
  }
  .security_text {
    font-size: 16px;
    right: 105px;
    position: relative;
  }

  .plans_text {
    margin: 0;
    margin-top: 100px;
  }
}

@media (max-width: 701px) {
  .footer_text-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px; 
  }
  .none1 {
    display: none;
  }

  .footer_img {
    margin-inline: auto;
  }

  .footer_cnt-second {
    align-items: center;
  }

  .footer_flex-item_text {
    width: 379px;
    font-size: 15px;
    margin-bottom: 15px;
  }

  .wrapper {
    width: 619px;
  }

  .plans_title {
    font-size: 40px;
    margin-bottom: -39px;
  }

  .plans_title {
    margin: 40px;
  }
  
  .security_text {
    right: 0px;
    max-width: 400px;
  }
  .plans_text {
    margin: 0;
  }

  .plans {
    height: 340px;
  }
}

@media (max-width: 701px) {

  .footer_text::before {
    left: -74px;
    width: 55px;
}
  .map_title {
    font-size: 36px;
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    width: 550px;
  }
}
